<div class="col-xs-12">
    <h2>Mes appareils</h2>

    <p>Mise à jour : {{ lastUpdate | async |date: 'yMMMMEEEEd'|uppercase }} </p>
    <!--  voici un exemple ci-contre de pipe -->

    <ul class="list-group">

        <app-appareil *ngFor="let appareil of appareils; let i = index" [indexOfAppareil]="i" [appareilName]="appareil.name" [appareilStatus]="appareil.status" [id]="appareil.id">

        </app-appareil>

        <!--   grace au tableau créé dans app.component.ts, on peut supprimer les instructions
      <app-appareil [appareilName]="appareilOne" [appareilStatus]="'eteint'"></app-appareil>
      <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'allumé'"></app-appareil>
      <app-appareil [appareilName]="appareilThree" [appareilStatus]="'eteint'"></app-appareil> -->

    </ul>
    <button class="btn btn-success" (click)="onAllumer()">
        <!-- [disabled]="!isAuth" --> 
      Tout allumer
    </button>

    <button class="btn btn-danger" (click)="onEteindre()">
        
      Tout Eteindre
    </button>

    <button class="btn btn-success" (click)="onSave()">
        
      Enregistrer
    </button>

    <button class="btn btn-primary" (click)="onFetch()">
        
     Charger
    </button>


</div>